<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/30797ff985.js"  crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class= "header row px-3 py-4">
        <div class="col-2">
          <div class="logo"><%= link_to 'Bookers', root_path, class: 'nav-link text-white' %></div>
        </div>
        <div class ="col-6 offset-4">
          <div class = "row">
            <% if user_signed_in? %>
            <div class="col-1">
              <div class="header-content"><%= link_to 'Home', book_path(current_user), class: 'nav-link text-white' %></div>
            </div>
            <div class="col-1">
              <div class="header-content"><%= link_to 'Users', users_path, class: 'nav-link text-white' %></div>
            </div>
            <div class="col-1">
              <div class="header-content"><%= link_to 'Books', books_path, class: 'nav-link text-white' %></div>
            </div>
            <div class="col-1">
              <div class="header-content"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link text-white' %></div>
            </div>
            <% else %>
            <div class="col-1">
              <div class="header-content"><%= link_to 'Home', root_path, class: 'nav-link text-white' %></div>
            </div>
            <div class="col-1">
              <div class="header-content"><%= link_to 'About', about_path, class: 'nav-link text-white' %></div>
            </div>
            <div class="col-1">
              <div class="header-content"><%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-white' %></div>
            </div>
            <div class="col-1">
              <div class="header-content"><%= link_to "Log in", new_user_session_path, class: 'nav-link text-white' %></div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
    <main class="mb-auto">
      <%= yield %>
    </main>
    <footer class="shadow-sm">
      <div class="row">
        <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </footer>
  </body>
</html>
