<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/30797ff985.js"  crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class= "navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
        <div class="logo"><h4><%= link_to 'Bookers', root_path, class: 'nav-link text-white' %></h4></div>

        <div class ="collapse navbar-collapse">
          <ul class ="navbar-nav ml-auto">
          <div class = "row">
            <% if user_signed_in? %>
            <li>
              <div class="header-content">
                <%= link_to user_path(current_user), class: 'nav-link text-white' do %>
                  <i class="fa-solid fa-house"></i> Home
                <% end %>
              </div>
            </li>
            <li>
              <div class="header-content">
                <%= link_to users_path, class: 'nav-link text-white' do %>
                  <i class="fa-solid fa-users"></i> Users
                <% end %>
              </div>
            </li>
            <li>
              <div class="header-content">
                <%= link_to books_path, class: 'nav-link text-white' do %>
                  <i class="fa-solid fa-book-open"></i> Books
                <% end %>
              </div>
            </li>
            <li>
              <div class="header-content">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-white' do %>
                  <i class="fa-solid fa-right-from-bracket"></i> Log out
                <% end %>
              </div>
            </li>
            <% else %>
            <li>
              <div class="header-content">
                <%= link_to root_path, class: 'nav-link text-white' do %>
                  <i class="fa-solid fa-house"></i> Home
                <% end %>
              </div>
            </li>
            <li>
              <div class="header-content">
                <%= link_to about_path, class: 'nav-link text-white' do %>
                  <i class="fa-solid fa-link"></i> About
                <% end %>
                </div>
            </li>
            <li>
              <div class="header-content">
                <%= link_to new_user_registration_path, class: 'nav-link text-white' do %>
                  <i class="fa-solid fa-user-plus"></i> Sign up
                <% end %>
                </div>
            </li>
            <li>
              <div class="header-content">
                <%= link_to new_user_session_path, class: 'nav-link text-white' do %>
                  <i class="fa-solid fa-right-to-bracket"></i> Log in
                <% end %>
                </div>
            </li>
            <% end %>
          </div>
          </ul>
        </div>
        </div>
      </nav>

    <main class="container">
      <%= notice %>
      <%= yield %>
    </main>
    <footer class="container mt-5">
      <div class="row">
        <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </footer>
  </body>
</html>
